In [13]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import random

In [14]:
# Title of search
title = "Analyst"

# Location of search
location = "Chile"

# Number of pages (Max 50)
size = 5

In [15]:
# Create a list of job ids
id_list = []

# Loop through pages
for i in range(size):
    list_url = f"https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=data%20{title}&location={location}&position=1&pageNum=0&start={i*10}"

    response = requests.get(list_url)

    list_data = response.text
    list_soup = BeautifulSoup(list_data, "html.parser")

    page_jobs = list_soup.find_all("li")

    # Scrape job ids
    for job in page_jobs:
        try:
            base_card_div = job.find("div", {"class": "base-card"})
            job_id = base_card_div.get("data-entity-urn").split(":")[3]
            print(job_id)
            id_list.append(job_id)
        except AttributeError:
            continue

4315974002
4332470657
4311505231
4215005845
4337341921
4316339708
4301719540
4309043442
4103123579
4314823240
4314410643
4310035056
4333011280
4318749640
4308087331
4310253327
4319069039
4320073630
4318913852
4308976818
4318603606
4289350262
4289966538
4300084996
4305146244
4212862349
4250758436
4313364763
4296279406
4332721435
4311542190
4310246424
4311676892
4313292544
4260093810
4332739825
4337324031
4310245503
4318712762
4286178292
4319344096
4312329257
4317557282
4314998744
4289347428
4160583508
4319472324
4318412411

In [16]:
# Scrape job details

job_list = []
    
for job_id in id_list:
    job_url = f"https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}"
    job_response = requests.get(job_url)
    # Prints status code:
    print(job_response.status_code)
    # 200 = success
    # 429 = too many requests (blank)
    job_soup = BeautifulSoup(job_response.text, "html.parser")
    job_post = {}
    criteria = job_soup.find_all("span", {"class": "description__job-criteria-text description__job-criteria-text--criteria"})
    
    #Job Tile
    try:
        job_post["job_title"] = job_soup.find("h2", {"class": "top-card-layout__title font-sans text-lg papabear:text-xl font-bold leading-open text-color-text mb-0 topcard__title"}).text.strip()
    except:
        job_post["job_title"] = None
        
    #Company Name
    try:
        job_post["company_name"] = job_soup.find("a", {"class": "topcard__org-name-link topcard__flavor--black-link"}).text.strip()
    except:
        job_post["company_name"] = None
    
    #Job Criteria (Experience Level, Type of Contract, Job Role, Field)
    try:
        criteria = job_soup.find_all("span", {"class": "description__job-criteria-text description__job-criteria-text--criteria"})
    except:
        criteria = []
    try:
        job_post["experience_level"] = criteria[0].text.strip()
    except:
        job_post["experience_level"] = None
    try:
        job_post["type_of_contract"] = criteria[1].text.strip()
    except:
        job_post["type_of_contract"] = None
    # try:
    #     job_post["job_role"] = criteria[2].text.strip()
    # except:
    #     job_post["job_role"] = None
    # try:
    #     job_post["field"] = criteria[3].text.strip()
    # except:
    #     job_post["field"] = None

    # If job is easy apply
    try:
        if job_soup.find("icon", {"data-svg-class-name": "apply-button__offsite-apply-icon-svg"}):
            job_post["easy_apply"] = False
        else:
            job_post["easy_apply"] = True
    except:
        job_post["easy_apply"] = None

    # Time posted
    try:
        job_post["time_posted"] = job_soup.find("span", {"class": "posted-time-ago__text topcard__flavor--metadata"}).text.strip()
    except:
        job_post["time_posted"] = None

    # Number of applicants
    try:
        job_post["num_applicants"] = job_soup.find("span", {"class": "num-applicants__caption"}).text.strip()
    except:
        job_post["num_applicants"] = None

    # Job Link
    try:
        job_post["job_link"] = f"https://www.linkedin.com/jobs/view/{job_id}/"
    except:
        job_post["job_link"] = None
    
    
    job_list.append(job_post)

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
429
429
200
429
429
429
429
429
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

In [17]:
# Create dataframe
jobs_df = pd.DataFrame(job_list)
jobs_df

,job_title,company_name,experience_level,type_of_contract,easy_apply,time_posted,num_applicants,job_link
0,Analista de datos,Cervecería AB InBev Chile,Entry level,Full-time,True,1 week ago,None,https://www.linkedin.com/jobs/view/4315974002/
1,Data Analyst,Itaú Chile,Associate,Full-time,True,1 week ago,None,https://www.linkedin.com/jobs/view/4332470657/
2,Data Analyst,Mallplaza,Associate,Full-time,True,4 weeks ago,None,https://www.linkedin.com/jobs/view/4311505231/
3,Analista de datos,Prosegur,Mid-Senior level,Contract,False,6 months ago,None,https://www.linkedin.com/jobs/view/4215005845/
4,"Analyst, Data Strategy",Mastercard,Entry level,Full-time,False,1 day ago,147 applicants,https://www.linkedin.com/jobs/view/4337341921/
5,Data Analyst,Banco BICE,Mid-Senior level,Full-time,True,2 weeks ago,None,https://www.linkedin.com/jobs/view/4316339708/
6,Data Analyst,Falabella,Mid-Senior level,Full-time,False,6 days ago,None,https://www.linkedin.com/jobs/view/4301719540/
7,Data Analyst,Banco Falabella,Entry level,Full-time,False,1 week ago,None,https://www.linkedin.com/jobs/view/4309043442/
8,Analista de Datos (BI),WebClass,Mid-Senior level,Contract,False,10 months ago,None,https://www.linkedin.com/jobs/view/4103123579/
9,Planning & Control Analyst,Despegar,Not Applicable,Full-time,True,3 weeks ago,87 applicants,https://www.linkedin.com/jobs/view/4314823240/
10,Analista de Datos - Logística,Grupo Falabella,Mid-Senior level,Full-time,True,3 weeks ago,None,https://www.linkedin.com/jobs/view/4314410643/
11,Analista de Datos BI (Latam),BC Tecnología,Not Applicable,Full-time,False,4 weeks ago,None,https://www.linkedin.com/jobs/view/4310035056/
12,Data Analyst,Falabella,Mid-Senior level,Full-time,False,6 days ago,108 applicants,https://www.linkedin.com/jobs/view/4333011280/
13,Global Data Analyst,Uber,Entry level,Full-time,False,1 week ago,104 applicants,https://www.linkedin.com/jobs/view/4318749640/
14,Data Analyst,Grupo Falabella,Mid-Senior level,Full-time,False,2 weeks ago,None,https://www.linkedin.com/jobs/view/4308087331/
15,Analista de Datos,Patrimore,Not Applicable,Full-time,False,3 weeks ago,None,https://www.linkedin.com/jobs/view/4310253327/
16,Data Analyst - Remoto,Imagemaker,Entry level,Full-time,False,1 week ago,None,https://www.linkedin.com/jobs/view/4319069039/
17,Analista de Datos BI,Gatblac,Not Applicable,Full-time,False,5 days ago,71 applicants,https://www.linkedin.com/jobs/view/4320073630/
18,Data Analyst,Blue Home,Entry level,Full-time,True,6 days ago,None,https://www.linkedin.com/jobs/view/4318913852/
19,None,None,None,None,True,None,None,https://www.linkedin.com/jobs/view/4308976818/
20,None,None,None,None,True,None,None,https://www.linkedin.com/jobs/view/4318603606/
21,Analista de Datos BI,Agency Network,Mid-Senior level,Full-time,False,2 months ago,99 applicants,https://www.linkedin.com/jobs/view/4289350262/
22,None,None,None,None,True,None,None,https://www.linkedin.com/jobs/view/4289966538/
23,None,None,None,None,True,None,None,https://www.linkedin.com/jobs/view/4300084996/
24,None,None,None,None,True,None,None,https://www.linkedin.com/jobs/view/4305146244/
25,None,None,None,None,True,None,None,https://www.linkedin.com/jobs/view/4212862349/
26,None,None,None,None,True,None,None,https://www.linkedin.com/jobs/view/4250758436/
27,Data Analytics,Empresa Confidencial,Mid-Senior level,Full-time,True,2 weeks ago,None,https://www.linkedin.com/jobs/view/4313364763/
28,Analista de datos,Fundación Triangular Inclusiva,Entry level,Full-time,False,1 month ago,172 applicants,https://www.linkedin.com/jobs/view/4296279406/
29,Data Analyst,Imagemaker,Mid-Senior level,Full-time,False,1 week ago,170 applicants,https://www.linkedin.com/jobs/view/4332721435/
30,Especialista Plataformas Digitales y Análisis ...,Banchile Inversiones,Associate,Part-time,True,4 weeks ago,None,https://www.linkedin.com/jobs/view/4311542190/
31,Analista ágil,BICE VIDA,Not Applicable,Full-time,False,3 weeks ago,101 applicants,https://www.linkedin.com/jobs/view/4310246424/
32,Analista de Business Intelligence,Americar,Mid-Senior level,Full-time,True,3 weeks ago,None,https://www.linkedin.com/jobs/view/4311676892/
33,Analista de datos maestros.,RANDSTAD,Mid-Senior level,Full-time,False,3 weeks ago,None,https://www.linkedin.com/jobs/view/4313292544/
34,Analista de Mejora Continua,EcoLógica,Not Applicable,Contract,False,4 months ago,None,https://www.linkedin.com/jobs/view/4260093810/
35,Data Analyst - Santiago,Finning,Entry level,Full-time,False,6 days ago,91 applicants,https://www.linkedin.com/jobs/view/4332739825/
36,Analista BI Senior,Getronics,Mid-Senior level,Full-time,True,None,157 applicants,https://www.linkedin.com/jobs/view/4337324031/
37,Data Base Analyst CAR,GHD,Entry level,Full-time,False,4 days ago,None,https://www.linkedin.com/jobs/view/4310245503/
38,Data Analyst Senior,Experian Spanish Latam,Not Applicable,Full-time,True,1 week ago,63 applicants,https://www.linkedin.com/jobs/view/4318712762/
39,Analista de flotas (experiencia en logística y...,TETRACE,Not Applicable,Full-time,False,2 months ago,146 applicants,https://www.linkedin.com/jobs/view/4286178292/
40,Analista de Revenue Management,Claro Chile S.A.,Associate,Full-time,True,1 week ago,None,https://www.linkedin.com/jobs/view/4319344096/
41,Senior Data Analyst,AudienceView,Not Applicable,Full-time,True,1 week ago,131 applicants,https://www.linkedin.com/jobs/view/4312329257/
42,Data & Analytics Tech Lead,Itaú Chile,Associate,Full-time,True,2 weeks ago,None,https://www.linkedin.com/jobs/view/4317557282/
43,Analista,GrupoExpro,Mid-Senior level,Full-time,True,1 week ago,None,https://www.linkedin.com/jobs/view/4314998744/
44,Analista de Datos Previsional,Amplifica,Entry level,Full-time,False,2 months ago,None,https://www.linkedin.com/jobs/view/4289347428/
45,Ingeniero de Reportes y Analista de Datos Powe...,DELPRO INGENIERÍA,Mid-Senior level,Contract,False,8 months ago,None,https://www.linkedin.com/jobs/view/4160583508/
46,Business Intelligence Analyst,Whitestack,Mid-Senior level,Full-time,False,1 month ago,None,https://www.linkedin.com/jobs/view/4319472324/
47,ANALISTA REVENUE MANAGEMENT,LATAM Airlines,Entry level,Full-time,False,1 week ago,None,https://www.linkedin.com/jobs/view/4318412411/

In [18]:
# Save to csv
jobs_df.to_csv("jobs.csv", index=False)